<ion-view title="Send Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="item-image">
      <img src="img/EWs77G9tTyaqrCNKiWX6_maxresdefault.jpg" width="100%" height="auto" style="display:block;">
    </div>
    <div id="sendPage-markdown1" style="color:#000000;font-size:24px;" class="item-title">
      <p>
        <strong>Title</strong>of your item</p>
    </div>
    <div id="sendPage-markdown2" style="color:#000000;font-size:13px;" class="item-description">
      <p>Description of your
        <strong>product</strong>:</p>

      <p>Blablablasadfasdfsdf</p>

      <ul>
        <li>Water resistance brings confidence in robustness of device</li>
        <li>Same design as previous two years</li>
        <li>Headphone jack removal is inconvenient</li>
      </ul>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <form id="sendPage-form2" class="list">
      <ion-item class="range range-positive" id="sendPage-range1">Amount
        <input type="range" value="23" min="17" max="35">
      </ion-item>
      <ion-radio id="sendPage-radio1">Insurance Options</ion-radio>
    </form>
    <a href="#" onclick="window.open('http://www.example.com', '_system', 'location=yes'); return false;" id="sendPage-button4" style="color:#FFFFFF;font-size:19px;" class="button button-positive button-large button-block icon-left ion-android-send send-to-circle">Send to Circle of Trust</a>
  </ion-content>
</ion-view>
